//////  LOGO
.logo{
    height: 3.25rem;
    margin-left: 2rem;
}

//////  Search Box
.search{
    flex: 0 0 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    @media only screen and (max-width:  $bp-smallest){
       order: 1;
       flex: 0 0 100%;
    }
    &__input{
        font-family: inherit;
        font-size: inherit;
        color:  var(--grey-dark-1);
        background-color: var(--grey-light-2);
        border: none;
        padding: .7rem 2rem;
        border-radius: 100px;
        width: 90%;
        transition: all .2s;
        margin-right: -3.5rem;
        
         &:focus{
             outline: none;
             width: 100%;
             background-color: var(--grey-light-3);
         }
    }
    &__icon{
        height: 2rem;
        width: 2rem;
    }
    &__button{
        border: none;
        background-color: var(--grey-light-3) ;
        transition: all .2s;
        display: inline-block;
        &:focus{
            outline: none;
            transform: translateY(2px);
        }
        &:hover{
            transform: scale(1.1)
        }
    }
}

//////  User Nav
.user-nav{
    display: flex;
    // flex: 0 0 20%;
    align-items: center;
    align-self: stretch;
    &>*{
        padding: 0 2rem;
        cursor: pointer;
        height: 100%;
        display: flex;
        align-items: center;
    }
    &>*:hover{
        background-color: var(--grey-light-2);;
    }
    &__icon-box{
        position: relative;
    }
    &__icon{
        height: 2.25rem;
        width: 2.25rem;
        fill: var(--grey-dark-1);
    }

    &__notification{
        font-size: 1rem;
        height: 1.6rem;
        width: 1.6rem;
        border-radius: 50%;
        background-color: var(--color-primary);
        color: #fff;
        position: absolute;
        top: 1rem;
        right: 1.1rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__user-photo{
        height: 3.5rem;
        border-radius: 50%;
        margin-right: 1rem;
    }
    
}
/////// side navigation
.side-nav{
    font-size: 1.5rem;
        
        margin-top: 2rem;
        list-style: none;
        @media only screen and (max-width: $bp-medium){
            display: flex;
            margin: 0;
        }
    
    &__item{
        position: relative;

        &:not(:last-child){
            margin-bottom: 1rem;
            @media only screen and (max-width: $bp-medium){
                margin-bottom: 0;
            }
        }
        @media only screen and (max-width: $bp-medium){
            flex: 1;
            margin:0;
        }
    }
    &__item::before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 3px;
        background-color: var(--color-primary);
        transform: scaleY(0);
        transition: transform .1s,
                    width .2s cubic-bezier(1,0,0,1) .1s,
                    background-color .1s;
        transform-origin: bottom;
    }
    &__item:hover::before,
    &__item--active::before{
        transform: scaleY(1);
        width: 100%;
    }

    &__item:active::before{
        background-color: var(--color-primary-light);
    }

    &__link:link,
    &__link:visited{
        color: var(--grey-light-4);
        text-decoration: none;
        text-transform: uppercase;
        display: block;
        padding: 1.5rem 1.5rem;
        position: relative;
        z-index: 10;
        display: flex;
        align-items: center;
        @media only screen and (max-width: $bp-medium){
            justify-content: center;
            padding: 1.5rem;
        }
        @media only screen and (max-width: $bp-small){
            flex-direction: column;
            padding: .5rem;
        }
    }
    &__icon{
        width: 2rem;
        height: 2rem;
        fill: currentColor;
        margin-right: 1.5rem;
        @media only screen and (max-width: $bp-small){
           margin:0;
           width: 1.75rem;
        height: 1.75rem;
        }
    }
}

.legal{
    font-size: 1.2rem;
    padding: 2.5rem;
    text-align: center;
    color:var(--grey-light-4);
    @media only screen and (max-width: $bp-medium){
        display: none;
    }
}

////////// GALLERY
.gallery{
    display: flex;
    &__photo{
        width: 100%;
        display: block;
    }
}

//////// Overview
.overview{
    display: flex;
    border-bottom: 1px solid var(--grey-light-2);
    align-items: center;
    &__heading{
      font-size: 2.25rem;
      font-weight: 300;
      text-transform: uppercase;
      letter-spacing: 1px;
      padding: .5rem 3rem;
      @media only screen and (max-width: $bp-small){
        font-size: 1.8rem;
        padding: .5rem 2rem;
    }
    }
    &__stars{
        margin-right: auto;
        display: flex;
    }
    &__icon--star,
    &__icon--location{
        width: 1.75rem;
        height: 1.75rem;
        fill: var(--color-primary);
        @media only screen and (max-width: $bp-small){
           height: 1.5rem;
           width: 1.5rem;
        }
    }
    &__location{
      font-size: 1.3rem;
      display: flex;
      justify-content: center;
    }
    &__icon--location{
        margin-right: .5rem;
    }
    &__rating{
        background-color: var((--color-primary));
        margin-left: 3rem;
        color: #ffff;
        align-self: stretch;
        padding: 0 1.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        @media only screen and (max-width: $bp-small){
          margin-left: 2rem;
        }
        &-average{
            font-size: 2rem;
            font-weight: 300;
            margin-bottom: -5px;
        }
        &-count{
            font-size: 1rem;
            font-weight: 300;
            text-transform: uppercase;
        }
    }
}

///////// In-line button
.btn-inline{
    border: none;
    color: var(--color-primary);
    font-size: inherit;
    border-bottom: 1px solid currentColor;
    background:transparent;
    padding-bottom: 2px;
    display: inline-block;
    cursor: pointer;
    transition: all .2s;
    & span {
        margin-left: 2px;
        transition: margin-left .3s;
    }
    &:hover{
        color: var(--grey-dark-1);
        span{
            margin-left: 6px;
        }
    }
    &:focus{
        outline: none;
        animation: pulsate .5s infinite;
    }
}

@keyframes pulsate{
    0%{
        transform: scale(1);
        box-shadow: none;
    }
    50%{
        transform: scale(1.05);
        box-shadow: 0 1rem 4rem rgba($color: #000000, $alpha: .25);
    }
    100%{
        transform: scale(1);
        box-shadow: none;
    }
}

/////// paragraph
.paragraph:not(:last-of-type){
    margin-bottom: 2rem;
}

/////// List
.list{
    margin: 2rem 0;
    list-style: none;
    padding: 2rem;
    border-top: 1px solid var(--grey-light-3);
    border-bottom: 1px solid var(--grey-light-3);
    display: flex;
    flex-wrap: wrap;
    &__item{
        flex: 0 0 50%;
        margin-bottom: .5rem;
    }
    &__item::before{
        content: "";
        height: 1rem;
        width: 1rem;
        display: inline-block;
        margin-right: .7rem;
        //older browser
        // background-image: url(../img/chevron-thin-right.svg);
        // background-size: cover;

        //new browser
        background-color: var(--color-primary);
        -webkit-mask-image:url(../img/chevron-thin-right.svg);
        -webkit-mask-size:cover;

    }
}

/////// recommend
.recommend{
    font-size: 1.3rem;
    color: var(--grey-dark-2);
    display: flex;
    align-items: center;
    &__photo{
        height: 3.7rem;
        width: 3.7rem;
        border-radius: 50%;
        border: 2px solid #fff;
        &:not(:last-child){
            margin-right: -1rem;
        }
    }
    &__count{
        margin-right: auto;
    }
}

///////// Reviews 
.review{
    background-color: #ffff;
    box-shadow: 0 2rem 5rem rgba($color: #000000, $alpha: .1);
    padding: 3rem;
    margin-bottom: 3rem;
    border-radius: 3px;
    position: relative;
  
    overflow: hidden;
    &__text{
        position: relative;
        z-index: 10;
    }
    &__user{
        display: flex;
        margin-top: 2rem;
        align-items: center;
    }
    &__photo{
        width: 4.5rem;
        border-radius: 50%;
    }
    &__user-box{
        display: flex;
        flex-direction: column;
        margin-right: auto;
        padding-left: 1rem;
    }
    &__user-name{
        color: var(--grey-dark-1);
    }
    &__user-date{
        font-size: 1.2rem;
    }
    &__rating{
        color:var(--color-primary);
        font-size: 1.7rem;
    }
    &::before{
    content: "\201C";
    position: absolute;
    line-height: 1;
    top: -2.6rem;
    left: 0;
    font-size: 18rem;
    color: var(--grey-light-2);
    font-family: sans-serif;
    z-index: 1;
    }

}

////// Call to action
.cta{
    padding: 2.5rem 0;
    text-align: center;
    &__book-now{
        font-size: 1.7rem;
        font-weight: 600;
        text-transform: uppercase;
        margin-bottom: 2.5rem;
    }
    @media only screen and (max-width: $bp-medium){
        padding: 1;
    }
}

/////// btn
.btn{
    font-size: 1.5rem;
    border: none;
    font-weight: 400;
    text-transform: uppercase;
    border-radius: 100px;
    background-image: linear-gradient(to right, 
        var(--color-primary-light),
        var(--color-primary-dark),);
    color: #ffff;
    padding: 2rem 6rem;
    position: relative;
    overflow: hidden;
    transition: all .2s;
    &__visible{
        display: inline-block;
    }
    &__in-visible{
        display: inline-block;
        position: absolute;
        height: 100%;
        width: 100%;
        left: 0;
        top: -100%;
        transition: all .2s;
        cursor: pointer;
    }

    &:focus{
        outline: none;
        box-shadow: 0 2rem 4rem rgba(#000000, .5);
        transform: scale(1.05);
    }
}