
.container{
 max-width: 120rem;
 margin: 6rem auto;
 background-color: var(--grey-light-2);
 box-shadow: 0 2rem 4rem rgba( #000000, .3);
 min-height: 80vh;
}

.header{
    height: 6rem;
    background-color: #ffff;
    border-bottom: var(--grey-light-2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.4rem;
}

.content{
    display: flex;
}

.sidebar{
    background-color: var(--grey-dark-1);
    
    flex: 0 0 18%;
}

.hotel-view{
    background-color: #ffff;

    flex: 1;
}