
.container{
 max-width: 120rem;
 margin: 6rem auto;
 background-color: var(--grey-light-2);
 box-shadow: 0 2rem 4rem rgba( #000000, .3);

 @media only screen and (max-width:$bp-largest){
     margin: 0 ;
     max-width: 100%;
     width: 100%;
 }
}

.header{
    height: 6rem;
    background-color: #ffff;
    border-bottom: var(--grey-light-2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.4rem;
    @media only screen and (max-width: $bp-smallest){
        flex-wrap: wrap;
        height: 10rem;
        align-content: space-around;
    }
}
 
.content{
    display: flex;
    @media only screen and (max-width: $bp-medium){
        flex-direction: column;
    }
}

.sidebar{
    background-color: var(--grey-dark-1);
    
    flex: 0 0 18%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @media only screen and (max-width: $bp-medium){
        // flex-direction: row;
    }
}

.hotel-view{
    background-color: #ffff;
    flex: 1;
    border-bottom: 1px solid var(--grey-light-3);
}

.description{
    background-color: #fff;
    box-shadow:  0 2rem 5rem rgba($color: #000000, $alpha: .1);
    flex: 0 0 60%;
    margin-right: 4.5rem;
    padding: 2rem;
    font-size: 1.4rem;
    @media only screen and (max-width: $bp-medium){
        padding: 1rem;
        margin-right: 3rem;
    }
    @media only screen and (max-width: $bp-small){
        margin-right: 0;
        margin-bottom: 3rem;
    }
}
.detail{
    display: flex;
    padding: 4.5rem;
    background-color: var(--grey-light-1);
    @media only screen and (max-width: $bp-medium){
        padding: 3rem;
    }
    @media only screen and (max-width: $bp-small){
        flex-direction: column;
    }
}


.user-review{
    background-color: transparent;
    flex: 1;
    font-size: 1.4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}